

<div class="container-fluid bg-primary" id="log">
    <div class="container text-light  " id="cont">
      <div class="row" id="rw">
        <div class="col-lg-6">
          <form [formGroup]="loginform" (ngSubmit)="addAccount()" class="p-4" id="frm">
  
            <div class="form-group">
              <label for="">الاسم</label>
              <input type="text" formControlName="UserName" [(ngModel)]="user.name"
                [class.is-valid]="loginform.controls['UserName'].valid"
                [class.is-invalid]="loginform.controls['UserName'].invalid &&loginform.controls['UserName'].touched"
                class="form-control" placeholder="ادخل الاسم...">
                <small id="emailHelpId" [hidden]="loginform.controls['UserName'].valid||loginform.controls['UserName'].untouched" class="form-text text-danger">Invalid UserName</small>
            </div>
  
            <div class="form-group">
                <label for="">الرقم القومي</label>
                <input type="text" formControlName="Idnumber" [(ngModel)]="user.idNumber"
                  [class.is-valid]="loginform.controls['Idnumber'].valid"
                  [class.is-invalid]="loginform.controls['Idnumber'].invalid &&loginform.controls['Idnumber'].touched"
                  class="form-control" placeholder="ادخل الرقم القومي">
                  <small id="emailHelpId" [hidden]="loginform.controls['Idnumber'].valid||loginform.controls['Idnumber'].untouched" class="form-text text-danger">Invalid UserName</small>
              </div>

            <div class="form-group">
              <label for="">ايميل</label>
              <input type="email"  class="form-control" formControlName="Email" [(ngModel)]="user.email"
                [class.is-valid]="loginform.controls['Email'].valid"
                [class.is-invalid]="loginform.controls['Email'].invalid &&loginform.controls['Email'].touched"
                aria-describedby="emailHelpId" placeholder="ادخل الايميل">
              <small id="emailHelpId" [hidden]="loginform.controls['Email'].valid||loginform.controls['Email'].untouched" class="form-text text-danger">Invalid Email</small>
            </div>
  
            <div class="form-group">
              <label for="">رقم الهاتف</label>
              <input type="text"  class="form-control" formControlName="Phone" [(ngModel)]="user.phone"
                [class.is-valid]="loginform.controls['Phone'].valid"
                [class.is-invalid]="loginform.controls['Phone'].invalid &&loginform.controls['Phone'].touched"
                aria-describedby="phoneHelpId" placeholder="ادخل رقم الهاتف">
              <small id="phoneHelpId" [hidden]="loginform.controls['Phone'].valid||loginform.controls['Phone'].untouched" class="form-text text-danger">Invalid Phone Number</small>
            </div>
  
            <div class="form-group">
              <label for="">المحافظه</label>
                <p-dropdown [options]="cities"  (onChange)="onChange($event)" [(ngModel)]="user.governrate"  formControlName="governrate"   optionLabel="name"></p-dropdown>
              </div>

              <div class="form-group">
              <label for="">المركز</label>
              <p-dropdown [options]="FilterdVillages" [(ngModel)]="user.address"  formControlName="address"   optionLabel="name"></p-dropdown>
              </div>
              
            <button type="submit" [disabled]="loginform.invalid" class="btn btn-primary">سجل</button>
          </form>
        </div>
      </div>
    </div>
  </div>
 






