<div class="container-fluid bg-primary" id="log">
    <div class="container text-light  " id="cont">
      <div class="row" id="rw">
        <div class="col-lg-6">
          <form [formGroup]="loginform" (ngSubmit)="addRequest()" class="p-4" id="frm">
  
  
            <div class="form-group">
              <label for="">الفرع</label>
                <p-dropdown [options]="Branches"  (onChange)="onChange($event)" [(ngModel)]="request.branch"  formControlName="Branch"   optionLabel="name"></p-dropdown>
              </div>

                <div class="form-group">
                <label for="">الجهة</label>
                  <p-dropdown [options]="Directions"  (onChange)="onChange2($event)" [(ngModel)]="request.direction"  formControlName="Direction"   optionLabel="name"></p-dropdown>
                </div>


              <div class="form-group">
              <label for="">الموظف</label>
                <p-dropdown [options]="Employees"  (onChange)="onChange2($event)" [(ngModel)]="request.empId"  formControlName="Employee"   optionLabel="employeeName"></p-dropdown>
              </div>



              <div class="form-group">
                <label for="">سبب التوجه</label>
                <input type="email"  class="form-control" formControlName="Subject" [(ngModel)]="request.subject"
                  [class.is-valid]="loginform.controls['Subject'].valid"
                  [class.is-invalid]="loginform.controls['Subject'].invalid &&loginform.controls['Subject'].touched"
                  aria-describedby="emailHelpId" placeholder="ادخل السبب...">
                <small id="emailHelpId" [hidden]="loginform.controls['Subject'].valid||loginform.controls['Subject'].untouched" class="form-text text-danger">لا يوجد  </small>
              </div>

            <div class="form-group">
                <label for="">تعليق</label>
                <input type="email"  class="form-control" formControlName="Reason" [(ngModel)]="request.reason"
                  [class.is-valid]="loginform.controls['Reason'].valid"
                  [class.is-invalid]="loginform.controls['Reason'].invalid &&loginform.controls['Reason'].touched"
                  aria-describedby="emailHelpId" placeholder="ادخل تعليق...">
                <small id="emailHelpId" [hidden]="loginform.controls['Reason'].valid||loginform.controls['Reason'].untouched" class="form-text text-danger">لا يوجد  </small>
              </div>
            


            <button type="submit" [disabled]="loginform.invalid" class="btn btn-primary">سجل</button>
          </form>
        </div>
      </div>
    </div>
  </div>
