<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form (ngSubmit)="search()" [formGroup]="searchForm">
                <span class="p-input-icon-left">
                    <i class="pi pi-search" ></i>
                    <input formControlName="idNumber" type="text" pInputText  placeholder="الرقم القومي...">         
                </span>
                <button pButton type="submit" label="بحث" ></button>
            </form>
        </div>
    </div>
</div>



